<div class="card common-content">
  <h2>top</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-secondary">
        <th>ID</th>
        <th>名前</th>
        <th>アドレス</th>
        <th></th>
        <th style="width: 120px"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>dapibus</td>
        <td>diam</td>
        <td>Sed</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>Nulla</td>
        <td>quis</td>
        <td>sem</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,006</td>
        <td>nibh</td>
        <td>elementum</td>
        <td>imperdiet</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,007</td>
        <td>sagittis</td>
        <td>ipsum</td>
        <td>Praesent</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,008</td>
        <td>Fusce</td>
        <td>nec</td>
        <td>tellus</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,009</td>
        <td>augue</td>
        <td>semper</td>
        <td>porta</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      <tr>
        <td>1,010</td>
        <td>massa</td>
        <td>Vestibulum</td>
        <td>lacinia</td>
        <td class="text-center"><button id="myModal" type="button" class="btn btn-info" style="padding: 1px 12px" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" tabindex="-1"  id="exampleModal">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row common-content">
  <div class="col-3">
    <div class="card">
      aaa
      aaa
      aaa
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      aaa
      aaa
      aaa
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      aaa
      aaa
      aaa
    </div>
  </div>
</div>

<script>
  let myModal = document.getElementById('myModal')
  let myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
  })
</script>